<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit page</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/edit/{id}(id=${eduser.getId()})}" th:object="${eduser}">
    <label for="qwer">enter firstname</label>
    <input type="text" th:field="*{firstName}" id="qwer"/>
    </br></br>
    <label for="zxc">enter lastname</label>
    <input type="text" th:field="*{lastName}" id="zxc"/>
    </br></br>
    <input type="submit" value="Редактировать пользователя!">
</form>>
</body>
</html>